/*GLOBAL OVERRIDES*/
li {
  list-style: none;
}
ul {
  padding: 0;
}
a:link, a:visited {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}
nav {
  color: #fff;
  transition: background-color, .5s;
}
section {
  position: relative;
  min-height: 100vh;
}
main, header, footer {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1, h2, h3 {
  text-transform: uppercase;
}
.no-border {
  border: none;
}
.no-background {
  background-color: rgba(0,0,0,0);
}
.em2 {
  font-size: 2em;
}
.tall-10 {
  height: 4vh;
}
.tall-10 img {
  height: 100%;
}
.spacer {
  min-height: 50vh;
  background-color: black;
}
.no-display {
  display: none;
}
.navbar-brand img {
  height: 30px;
  margin-right: 4px;
}
.tiny {
  font-size: .65em;
}
.bold {
  font-weight: 900;
}
.line-height-1 {
  line-height: 1;
}
#contact_form input {
  width: 100%;
}
#contact_form textarea {
  width: 100%;
}
.white-font {
  color: #fff;
}
.down-10 {
  margin-top: 10vh;
}
.inline {
  display: inline-block;
}
.no-radius {
  border-radius: 0;
}
section div.container {
  padding-top: 70px;
}
/*HEADER*/
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
/*LANDING*/
#landing {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/larimer.jpg);
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.absolute-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.margin-5vh-auto {
  margin: 5vh auto;
}
.em1-2 {
  font-size: 1.2em;
}
.down-30 {
  margin-top: 30vh;
}
.down-5 {
  margin-top: 5vh;
}
