/*GLOBAL OVERRIDES*/
li {
  list-style: none;
}
a:link, a:visited {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}
nav {
  color: #fff;
}
section {
  min-height: 100vh;
}
section, nav {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.spacer {
  min-height: 50vh;
  background-color: black;
}
.no-display {
  display: none;
}
.navbar-brand img {
  height: 30px;
  margin-right: 4px;
}
.tiny {
  font-size: .65em;
}
.bold {
  font-weight: 900;
}
.line-height-1 {
  line-height: 1;
}
#contact_form input {
  width: 100%;
}
#contact_form textarea {
  width: 100%;
}
.white-font {
  color: #fff;
}
.down-10 {
  margin-top: 10vh;
}
.inline {
  display: inline-block;
}
.no-radius {
  border-radius: 0;
}
section div.container {
  padding-top: 70px;
}
/*HEADER*/
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
/*LANDING*/
#landing {
  /*background-image: url(../img/larimer.jpg);*/
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.absolute-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.down-50 {
  margin-top: 40vh;
}
.down-5 {
  margin-top: 5vh;
}
